*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  position: fixed;
  top:0;left:0;bottom:0;right:0;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(145deg, #56b4d3, #fce3a0);
  color:black;
}

.main-title{
  font-size:15px;
}

header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:48px;
  border-bottom:1px solid white;
  color:#2674a3;
  padding: 0px 10px;
  background:rgba(255,255,255,0.5);

  display:flex;
  align-items:center;
  justify-content: space-between;
}

.logo {
  height:24px;
  margin-right:10px;
}
.logo-wrap{
  display: flex;
  align-items: center;
}

.text-input-wrap{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:48px;
  border-top:1px solid white;
  background:rgba(255, 255, 255, 0.582);
}

.text-input{
  border:1px solid #56b4d3;
  border-radius:15px;
  font-size:13px;
  padding:0 11px;
  position:absolute;
  left:50px;
  top:4px;
  height:32px;
  outline:none;
  width:calc(100% - 50px);
}


.text-input:focus{
  border: 1px solid #56b4d3;
  background: white;
}
.button:hover{
  background:#56b4d3;
  color:white;
}
.button:focus{
  outline: none;
  border:1px solid #bbeeff;
}
.button:disabled{
  color:white;
  background:#bbeeff;
}

.button{
  cursor:pointer;
  position:absolute;
  right:8px;
  top:8px;
  height:24px;
  border-radius:15px;
  border: 1px solid #56b4d3;
  color:#56b4d3;
}

.messages{
  height:calc(100vh - 96px);
  width:100vw;
  position: absolute;
  top:48px;
  left:0px;
  display:flex;
  flex-direction: column-reverse;
  overflow-y:auto;
}
.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.msg-name{
  font-size: 11px;
  position: absolute;
  top:-9px;
  left:5px;
}

.msg-text{
  color:#56b4d3;
  background:#fce3a0;
  margin:5px;
  border-radius:15px;
  padding:6px 6px;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 2px 2px 2px #E1D095; 
}

.message{
  position: relative;
  margin-top:10px;
}


.edit-username{
  display: flex;
  align-items: center;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:black;
  font-size:20px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
  border-radius: 4px;
}
.name-button:hover{
  color:white;
}
.name-input{
  color:white;
  height:31px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:#1f1e2e;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}
.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:1.1rem;
}

.camera {
  border-radius:20px;
  background: #56b4d3;
  color: #fce3a0;
  position: absolute;
  height:32px; 
  width: 32px;
  left:8px;
  top:4px;
}

.camera:hover{
  background:#56b4d3;
  color:#fce3a0;
}

.camera:focus{
  outline: none;
}